

.header {
    padding: 1.15rem 0;
}


.container {
    display: flex;
    flex-direction: column;
}

main {
    margin-top: 10rem;
}

.grid-container {
    /*background-color: lightgray;*/
    width: 600px;
    height: 600px;
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
}

.grid-item {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.options-container {
    padding: 2rem 0;
    display: flex;
    justify-content: space-around;
}

.footer {
    padding: 2rem 0;
}

.colored {
    background-color: blue;
}

#color-input {
    border: none;
}





